@import url('https://fonts.googleapis.com/css?family=Acme|Cabin|Fjalla+One&display=swap');

/* font-family: 'Cabin', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Acme', sans-serif; */

body {
    font-family: 'Cabin', sans-serif;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}